* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #111;
}

section.box {
    width: 700px;
    height: 550px;

    background: #222;
    border-radius: 10px;
    border: 1px solid gold;

    animation-name: alert;
    animation-duration: .5s;
}

div.top-bar {
    width: 100%;
    height: 130px;

    text-align: center;
    border-bottom: 1px solid gold;
}

div.top-bar h1 {
    font-size: 30px;
    padding: 1rem;
    color: #e7d677;
}

div.group-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.group-input input {
    width: 300px;
    height: 35px;

    padding-left: 8px;
    font-size: 18px;
    color: #e7d677;

    border: 1px solid gold;
    border-right: none;
    background: #333;
}

div.group-input button {
    height: 35px;
    padding: 10px;
    border-top-right-radius: 10px;
    color: gold;
    border: 1px solid gold;
    border-left: none;
    background: #222;

    cursor: pointer;
}

div.container-task {
    width: 100%;
    height: calc(100% - 130px);

    margin: auto;

    display: flex;
    align-items: center; 
    flex-direction: column;

    background: rgb(245, 243, 243,0.1);
}

div.task {
    width: 500px;

    margin-top: 15px;
    padding: 5px;

    display: flex;
    align-items: center;

    background: #333;
    color: #e7d677;
}

div.task.animate {
    animation-name: task;
    animation-duration: .3s;
}

div.check {
    padding: 10px 15px 10px 10px;
}

div.check input {
   cursor: pointer;
}

div.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.content i {
    padding: 10px;
    color: #e7d677;

    background: #333;

    cursor: pointer;
}

div.alert, div.alert-sucess, div.alert-delete, div.alert-max-task{
    display: none;
    opacity: 1;
    -webkit-transition: opacity 800ms linear;
    transition: opacity 800ms linear;
}

/* 
    ===================
    ALERTA DE INSIRA UM TEXTO
    ====================
*/ 

div.alert.active {
    width: 320px;
    height: 50px;

    background: #fff;
    display: flex;
    align-items: center;

    background: #d41212;
    border-bottom: 3px solid #f36666;

    position: absolute;
    top: 20px;
    left: 10px;

    animation-name: alert;
    animation-duration: 0.6s;
}

div.alert.active div.icon {
    width: 50px;
    height: 100%;

    background: #e92929;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.alert.active div.icon i {
    font-size: 25px;
    color: #ffffff66;
}

div.alert.active div.content-icon {
    width: calc(100% - 50px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.alert.active div.content-icon p {
    padding-left: 10px;
    color: #fff;
    font-weight: 400;
}

div.alert.active div.content-icon i {
    font-size: 20px;
    color: #ffffff66;
    padding-right: 10px;

    cursor: pointer;
}

/* 
    ===================
    ALERTA DE SUCESSO
    ====================
*/ 

div.alert-sucess.active {
    width: 320px;
    height: 50px;

    background: #d4edda;
    border: 1px solid #4dc972cc;
    border-bottom: 3px solid #155724;

    color: #155724;
    display: flex;
    align-items: center;

    position: absolute;
    top: 20px;
    left: 10px;

    animation-name: alert;
    animation-duration: 0.6s;
}

div.alert-sucess.active div.icon {
    width: 50px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.alert-sucess.active div.icon i {
    font-size: 25px;
    color: #4dc972cc;
}

div.alert-sucess.active div.content-icon {
    width: calc(100% - 50px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.alert-sucess.active div.content-icon p {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 400;
}

div.alert-sucess.active div.content-icon i {
    font-size: 20px;
    padding-right: 10px;
    color: #4dc972cc;

    cursor: pointer;
}

/* 
    ===================
    ALERTA DE NUMERO 
    MAXIMOS DE TAREFAS 
    ATIGIDO
    ====================
*/ 

div.alert-max-task.active {
    width: 320px;
    height: 50px;

    background: #fff;
    display: flex;
    align-items: center;

    background: #fff3cd;
    border-bottom: 3px solid #856404;
    color: #856404;

    position: absolute;
    top: 20px;
    left: 10px;

    animation-name: alert;
    animation-duration: 0.6s;
}

div.alert-max-task.active div.icon {
    width: 50px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.alert-max-task.active div.icon i {
    font-size: 25px;
    color: #85640480;
}

div.alert-max-task.active div.content-icon {
    width: calc(100% - 50px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.alert-max-task.active div.content-icon p {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 400;
}

div.alert-max-task.active div.content-icon i {
    font-size: 20px;
    padding-right: 10px;
    color: #85640480;

    cursor: pointer;
}