* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Langar', sans-serif;
}

html, body {
    height: 100%;

    background: #121214;

    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    font-size: 62.5%;
}

div.container {
    width: 60rem;
    height: 50rem;

    background: #202024;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation-name: apper;
    animation-duration: .4s;

}

div.container > h1.one {
    font-size: 3.5rem;
    color: #fff;
    padding-top: 1rem;
    text-align: center;
    display: flex;
}

div.container > h1.two {
    font-size: 3.5rem;
    color: #fff;
    padding-top: 1rem;
    text-align: center;
    display: none;
}

div.box-input {
    padding: 1rem 0 5rem 0;
    display: flex;
    position: relative;
}

div.container div.box-input input {
    width: 30rem;
    height: 4rem;
    animation-name: apper-left;
    animation-duration: .3s;

    padding-left: .8rem;

    background: none;
    font-size: 1.7rem;
    color: #fff;

    border: .2rem solid #d6ac4e;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-right: none;
}

div.box-input > button {
    width: 10rem;
    height: 4rem;

    background: #d6ac4e;
    color: #fff;
    font-size: 1.7rem;

    border: .2rem solid #d6ac4e;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: none;

    margin-left: -.2rem;

    cursor: pointer;
}

div.box-input button:hover {
    background: #dabc7e;   
}

div.container div.box-input > button.edit-tafera {
    width: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    bottom: 0;

    animation-name: apper-right;
    animation-duration: .3s;

    display: none;
}

div.display {
    width: 50rem;
    border-radius: .5rem;

    /* background: lightgray; */
}

div.task {
    height: 4rem;
    padding: 1rem;

    background: #464545;
    border-radius: .5rem;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation-name: apper-left;
    animation-duration: .3s;
}

div.task p, i {
    font-size: 1.8rem;
    color: #d6ac4e;
}

div.task div.icons i {
    z-index: 999;
    cursor: pointer;
    padding-left: 1.5rem;
}

div.task div.icons i:hover {
    color: #dabc7e;
}

div.icons {
    animation-name: apper-right;
    animation-duration: .4s;
}


div.edit {
    height: 20rem;
    padding: 1rem;

    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.edit h1 {
    color: #d6ac4e;
    padding-bottom: 2rem;
    animation-name: apper-up;
    animation-duration: .4s;
}

div.edit input {
    width: 30rem;
    height: 4rem;

    animation-name: apper-left;
    animation-duration: .3s;

    padding-left: .8rem;

    background: none;
    font-size: 1.7rem;
    color: #fff;

    border: .2rem solid #d6ac4e;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-right: none;
}

div.edit-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.edit-input button {
    width: 10rem;
    height: 4rem;

    background: #d6ac4e;
    color: #fff;
    font-size: 1.7rem;

    border: .2rem solid #d6ac4e;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: none;

    margin-left: -.2rem;

    cursor: pointer;
}

div.edit-input button:hover {
    background: #dabc7e;   
}

@keyframes apper-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes apper-right {
    0% {
        opacity: 0;
        transform: translateX(900%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes apper {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes apper-up {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}